.projects-container {
    margin: 4rem 0 5rem 0;
    position: relative;
}

.projects-container h5 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.projects-content {
    display: flex;
    flex-direction: column; 
    gap: 3.25rem; 
}

.project-highlight {
    outline: 2px solid var(--primary-color);
    border-radius: 0.75rem;
    transition: outline-color 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 0.75rem rgba(98, 0, 255, 0.4);
}


@media (max-width: 768px) {
    .projects-content {
        flex-direction: column-reverse;
    }

    .projects-container h5 {
        font-size: 1.3rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: 480px) {
  .projects-container {
    margin: 2rem 0;
  }

  .projects-content {
    gap: 2rem;
    align-items: center;
  }
}
